# Basic Python

In [1]:
from typing import Optional, List, Tuple, Union, Any, Callable, Set, Dict

## Data Structures

What is the following code going to print in each case? (uncomment the code to see it with helpful colors, but don't run it so you dont see the answer)

In [2]:
answer = None

In [3]:
# if answer:
#     print('Got it')
# else:
#     print('Havent got it')

In [4]:
# num = 0
# if num:
#     print('Got it')
# else:
#     print('havent got it ')

### Answers:
1. The above code is going too print 'Havn't got it', since 'None' is handled by python as False.
2. The above code is going too print 'Havn't got it', since '0' is handled by python as False.

## Functions

1. What is the value of res?
2. What does the sum_ function return?
3. Are the two answers in 1 and 2 necessarily the same?

In [5]:
def sum_(a,b):
    ans = a+b
    return ans

In [6]:
res = sum_(1,2)
res

3

### Answers:
1. The value of res is 3.
2. The sum function returns a sum of the values or the its arguments 'a' and 'b'.
3. The two answers in 1 and 2 aren't necessarily the same, because we can assign different values to 'a' and 'b' and the value of res will change accordingly.

## Loops

Write a function that calculates a factorial using a loop. 
For example, the function will receive the number 4 and return 24 (4*3*2*1).

In [7]:
def calculate_factorial(factorial):
    base = 1
    product = 1
    try:
        while base < factorial:
            product *= (base + 1)
            base += 1
        else:
            return product
    except Exception as e:
        print('Invalid input!')

In [8]:
calculate_factorial(5)

120

## Importing Code

Why do we sometimes see people writing:
if __name__ == "__main__"
In what case would that be useful?

### Answer:
People sometime use the if __name__ == '__main__' block so that the code will execute only when the python file is run as a script. This is useful when you want to allow for the python file to be run as a script (a whole program)  and to also allow it to be imported as a module. For example, if you write a program to solve some problem that uses various function and classes, you might want to reuse these functions and modules again for a different program / problem.

## Handling Files

When reading a file we might want to use the with keyword, e.g:

In [9]:
# with open(file_path, 'r') as f:
#     print(f.readlines())

Why use with? how does it help?

### Answer:

# OOP

## OOP 3 Principles

### Encapsulation

Write a class that uses encapsulation. Use a protected variable and a method that uses that protected variable. The method can either change the variable (after some validation) or just return it

In [ ]:
class Patient:
    def __init__(self, name, age, id, mrn, address, phone, policy_number, insurance_company, insurance_phone):
        self._name = name
        self._age = age
        self._id = id
        self._mrn = mrn
        self._address = address
        self._phone = phone
        self._policy_number = policy_number
        self._insurance_company = insurance_company
        self._insurance_phone = insurance_phone

### Inheritance

Write a class that inherits from another

In [10]:
class MedicalProcedure:
    def __init__(self, procedure_name: str, system: str, organ: str, outcome: Optional[str] = None):
        self.procedure_name = procedure_name
        self.system = system
        self.organ = organ
        self.outcome = outcome
    
    def __str__(self):
        return f"Name: {self.procedure_name}\nSystem: {self.system}\nOrgan: {self.organ}\nOutcome: {self.outcome}"

class Imaging(MedicalProcedure):
    def __init__(self, procedure_name: str, system: str, organ: str, imaging_type: str, facility: Optional[str] = None, outcome: Optional[str] = None):
        super().__init__(procedure_name, system, organ, outcome)
        
        self.imaging_type = imaging_type
        self.facility = facility
    
    def print_imaging_type(self):
        print(f'Imaging type: {self.imaging_type}')
    
    def print_facility(self):
        print(f'Facility: {self.facility}')

In [11]:
spinal_surgery = MedicalProcedure(procedure_name='spinal surgery', system='nervous, skeletal', organ='spine', outcome='successful')
print(spinal_surgery)

Name: spinal surgery
System: nervous, skeletal
Organ: spine
Outcome: successful

In [12]:
echocardiogram = Imaging(procedure_name='Doppler Echocardiogram', system='Cardiovascular', organ='Heart', imaging_type='Echocardiography', facility='Heart Clinic')
print(echocardiogram)
echocardiogram.print_imaging_type()
echocardiogram.print_facility()

Name: Doppler Echocardiogram
System: Cardiovascular
Organ: Heart
Outcome: None
Imaging type: Echocardiography
Facility: Heart Clinic

### Polymorphism

Take one of the methods you implemented in the base class. Rewrite it in the subclass class.

In [13]:
class Imaging(MedicalProcedure):
    def __init__(self, procedure_name: str, system: str, organ: str, imaging_type: str, facility: Optional[str] = None, outcome: Optional[str] = None):
        super().__init__(procedure_name, system, organ, outcome)
        
        self.imaging_type = imaging_type
        self.facility = facility
    
    def __str__(self):
        return f"Name: {self.procedure_name}\nSystem: {self.system}\nOrgan: {self.organ}\nOutcome: {self.outcome}\nImaging type: {self.imaging_type}\nFacility: {self.facility}"

In [14]:
echocardiogram = Imaging(procedure_name='Doppler Echocardiogram', system='Cardiovascular', organ='Heart', imaging_type='Echocardiography', facility='Heart Clinic')
print(echocardiogram)

Name: Doppler Echocardiogram
System: Cardiovascular
Organ: Heart
Outcome: None
Imaging type: Echocardiography
Facility: Heart Clinic

## Class vs Instance Methods

Write a class with 2 methods. One that only affects an instance, and one that affects the entire class.

In [47]:
import pandas as pd
import numpy as np

class Result:
        
    def __init__(self):
        pass
        
    def fetch_results(self, result_type: str, results_df: pd.DataFrame):
        self.result_type = result_type
        self.results_df = results_df
        
        # Raise an exception if results_df is not a DataFrame
        if not isinstance(results_df, pd.DataFrame):
            raise ValueError('results_df should be a DataFrame')
        
        # Raise an exception if the DataFrame is empty
        if results_df.empty:
            raise ValueError('results_df should not be empty')
        
    def show_results(self, all_results: bool = False, n_results: Optional[int] = None):
        try:
            if all_results:
                return self.results_df
            elif n_results:
                return self.results_df.head(n_results)
            else:
                return self.results_df.head()
        except Exception:
            print('Invalid input')
            

class LabTest:
    
    lab_tests = set()
    
    def __init__(self, test_name: str):
        self.test_name = test_name
        self.results = Result()
        
    def __str__(self):
        return f"Test Name: {self.test_name}\nTest Type: {self.results.result_type}\n"
    
    # Class method to add a new lab test to the list of lab tests
    @classmethod
    def add_lab_test(cls, test_name: str):
        try:
            if test_name not in cls.lab_tests:
                cls.lab_tests.add(test_name)
                print('New lab test added to the list of lab tests')
            else:
                print('Lab test already in the list of lab tests')
            
        except Exception as e:
            print('Invalid input')

    # Class method to remove a lab test from the list of lab tests
    @classmethod
    def remove_lab_test(cls, test_name: str):
        try:
            if test_name in cls.lab_tests:
                cls.lab_tests.remove(test_name)
                print('Lab test removed from the list of lab tests')
            else:
                print('Test does not exist in the list of lab tests')
            
        except Exception as e:
            print('Invalid input')
    
    @classmethod
    def show_lab_tests(cls):
        print(', '.join(cls.lab_tests))
    

    def add_new_result(self, new_result: pd.Series):
        try:
            self.results = self.results.results_df.append(new_result, ignore_index=True)
            
        except Exception as e:
            print('Invalid input')
    
    def remove_result(self, index: int):
        
        # Numerical position of the row
        if isinstance(index, int):
            index = self.results_df.index[index]
        
        # Label of the row index
        if isinstance(index, str):
            index = self.results_df.index.get_loc(index)
            
        try:
            self.results = self.results.results_df.drop(index, axis=0)
            
        except Exception as e:
            print('Invalid input')

In [36]:
# Create a dictionary that contains dictionaries with results of CMP lab tests that were done on 10 different dates
cmp_results = {
    '2021-01-01': {'Glucose': 90, 'BUN': 10, 'Creatinine': 0.8, 'Sodium': 140, 'Potassium': 4.0},
    '2021-02-01': {'Glucose': 95, 'BUN': 11, 'Creatinine': 0.9, 'Sodium': 141, 'Potassium': 4.1},
    '2021-03-01': {'Glucose': 100, 'BUN': 12, 'Creatinine': 1.0, 'Sodium': 142, 'Potassium': 4.2},
    '2021-04-01': {'Glucose': 105, 'BUN': 13, 'Creatinine': 1.1, 'Sodium': 143, 'Potassium': 4.3},
    '2021-05-01': {'Glucose': 110, 'BUN': 14, 'Creatinine': 1.2, 'Sodium': 144, 'Potassium': 4.4},
    '2021-06-01': {'Glucose': 115, 'BUN': 15, 'Creatinine': 1.3, 'Sodium': 145, 'Potassium': 4.5},
    '2021-07-01': {'Glucose': 120, 'BUN': 16, 'Creatinine': 1.4, 'Sodium': 146, 'Potassium': 4.6},
    '2021-08-01': {'Glucose': 125, 'BUN': 17, 'Creatinine': 1.5, 'Sodium': 147, 'Potassium': 4.7},
    '2021-09-01': {'Glucose': 130, 'BUN': 18, 'Creatinine': 1.6, 'Sodium': 148, 'Potassium': 4.8},
    '2021-10-01': {'Glucose': 135, 'BUN': 19, 'Creatinine': 1.7, 'Sodium': 149, 'Potassium': 4.9}
} 

# Convert the dictionary to a DataFrame with the keys as the index
cmp_results_df = pd.DataFrame(cmp_results).T

# Create an instance of the Result class
cmp_results = Result(result_type='CMP', results_df=cmp_results_df)

# Show the results
cmp_results.show_results(all_results=True)

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3
2021-05-01    110.0  14.0         1.2   144.0        4.4
2021-06-01    115.0  15.0         1.3   145.0        4.5
2021-07-01    120.0  16.0         1.4   146.0        4.6
2021-08-01    125.0  17.0         1.5   147.0        4.7
2021-09-01    130.0  18.0         1.6   148.0        4.8
2021-10-01    135.0  19.0         1.7   149.0        4.9

In [37]:
# Show only 4 lines of the results
cmp_results.show_results(n_results=4)

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3

In [38]:
# Show the results without specifying how many lines
cmp_results.show_results()

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3
2021-05-01    110.0  14.0         1.2   144.0        4.4

In [48]:
# Create an instance of the LabTest class
cmp_test = LabTest('CMP')

# Fetch the results of the CMP lab test
cmp_test.results.fetch_results('Blood Test', cmp_results_df)

# Add the lab test to the set of lab tests
cmp_test.add_lab_test(cmp_test.test_name)

# Show the set of lab tests
LabTest.show_lab_tests()

# Show the lab test
print(cmp_test)

# Show the results of the lab test
cmp_test.results.show_results(all_results=True)

New lab test added to the list of lab tests
CMP
Test Name: CMP
Test Type: Blood Test

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3
2021-05-01    110.0  14.0         1.2   144.0        4.4
2021-06-01    115.0  15.0         1.3   145.0        4.5
2021-07-01    120.0  16.0         1.4   146.0        4.6
2021-08-01    125.0  17.0         1.5   147.0        4.7
2021-09-01    130.0  18.0         1.6   148.0        4.8
2021-10-01    135.0  19.0         1.7   149.0        4.9

In [52]:
# Create a dictionary that contains dictionaries with results of CBC lab tests that were done on 10 different dates
cbc_results = {
    '2021-01-01': {'WBC': 5.0, 'RBC': 4.5, 'Hemoglobin': 14.0, 'Hematocrit': 42.0, 'Platelets': 150},
    '2021-02-01': {'WBC': 5.1, 'RBC': 4.6, 'Hemoglobin': 14.1, 'Hematocrit': 42.1, 'Platelets': 151},
    '2021-03-01': {'WBC': 5.2, 'RBC': 4.7, 'Hemoglobin': 14.2, 'Hematocrit': 42.2, 'Platelets': 152},
    '2021-04-01': {'WBC': 5.3, 'RBC': 4.8, 'Hemoglobin': 14.3, 'Hematocrit': 42.3, 'Platelets': 153},
    '2021-05-01': {'WBC': 5.4, 'RBC': 4.9, 'Hemoglobin': 14.4, 'Hematocrit': 42.4, 'Platelets': 154},
    '2021-06-01': {'WBC': 5.5, 'RBC': 5.0, 'Hemoglobin': 14.5, 'Hematocrit': 42.5, 'Platelets': 155},
    '2021-07-01': {'WBC': 5.6, 'RBC': 5.1, 'Hemoglobin': 14.6, 'Hematocrit': 42.6, 'Platelets': 156},
    '2021-08-01': {'WBC': 5.7, 'RBC': 5.2, 'Hemoglobin': 14.7, 'Hematocrit': 42.7, 'Platelets': 157},
    '2021-09-01': {'WBC': 5.8, 'RBC': 5.3, 'Hemoglobin': 14.8, 'Hematocrit': 42.8, 'Platelets': 158},
    '2021-10-01': {'WBC': 5.9, 'RBC': 5.4, 'Hemoglobin': 14.9, 'Hematocrit': 42.9, 'Platelets': 159}
}


# Create a dictionary that contains dictionaries with results of uranalysis lab tests that were done on 10 different dates
urinalysis_results = {
    '2021-01-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-02-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-03-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-04-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-05-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-06-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-07-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-08-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-09-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'},
    '2021-10-01': {'Color': 'Yellow', 'Appearance': 'Clear', 'Glucose': 'Negative', 'Protein': 'Negative', 'Ketones': 'Negative'}
}

# Create a dictionary that contains dictionaries with results of lipid panel lab tests that were done on 10 different dates
lipid_panel_results = {
    '2021-01-01': {'Total Cholesterol': 200, 'Triglycerides': 150, 'HDL': 50, 'LDL': 100},
    '2021-02-01': {'Total Cholesterol': 201, 'Triglycerides': 151, 'HDL': 51, 'LDL': 101},
    '2021-03-01': {'Total Cholesterol': 202, 'Triglycerides': 152, 'HDL': 52, 'LDL': 102},
    '2021-04-01': {'Total Cholesterol': 203, 'Triglycerides': 153, 'HDL': 53, 'LDL': 103},
    '2021-05-01': {'Total Cholesterol': 204, 'Triglycerides': 154, 'HDL': 54, 'LDL': 104},
    '2021-06-01': {'Total Cholesterol': 205, 'Triglycerides': 155, 'HDL': 55, 'LDL': 105},
    '2021-07-01': {'Total Cholesterol': 206, 'Triglycerides': 156, 'HDL': 56, 'LDL': 106},
    '2021-08-01': {'Total Cholesterol': 207, 'Triglycerides': 157, 'HDL': 57, 'LDL': 107},
    '2021-09-01': {'Total Cholesterol': 208, 'Triglycerides': 158, 'HDL': 58, 'LDL': 108},
    '2021-10-01': {'Total Cholesterol': 209, 'Triglycerides': 159, 'HDL': 59, 'LDL': 109}
}

# Create a dictionary that contains dictionaries with results of thyroid panel lab tests that were done on 10 different dates
thyroid_panel_results = {
    '2021-01-01': {'TSH': 1.0, 'T3': 2.0, 'T4': 3.0},
    '2021-02-01': {'TSH': 1.1, 'T3': 2.1, 'T4': 3.1},
    '2021-03-01': {'TSH': 1.2, 'T3': 2.2, 'T4': 3.2},
    '2021-04-01': {'TSH': 1.3, 'T3': 2.3, 'T4': 3.3},
    '2021-05-01': {'TSH': 1.4, 'T3': 2.4, 'T4': 3.4},
    '2021-06-01': {'TSH': 1.5, 'T3': 2.5, 'T4': 3.5},
    '2021-07-01': {'TSH': 1.6, 'T3': 2.6, 'T4': 3.6},
    '2021-08-01': {'TSH': 1.7, 'T3': 2.7, 'T4': 3.7},
    '2021-09-01': {'TSH': 1.8, 'T3': 2.8, 'T4': 3.8},
    '2021-10-01': {'TSH': 1.9, 'T3': 2.9, 'T4': 3.9}
}

various_lab_tests = {'CBC': cbc_results, 'Urinanalysis': urinalysis_results, 'Lipid Panel': lipid_panel_results, 'Thyroid Panel': thyroid_panel_results}

# Convert the dictionaries to DataFrames with the keys as the index
for lab_test, results in various_lab_tests.items():
    various_lab_tests[lab_test] = pd.DataFrame(results).T

In [56]:
# Create instances of lab tests
for lab_test, results in various_lab_tests.items():
    lab_test = LabTest(lab_test)
    lab_test.results.fetch_results('Blood Test', results)
    lab_test.add_lab_test(lab_test.test_name)
    lab_test.show_lab_tests()
    print(lab_test)
    print(lab_test.results.show_results())

Lab test already in the list of lab tests
Lipid Panel, Urinanalysis, CBC, CMP, Thyroid Panel
Test Name: CBC
Test Type: Blood Test

            WBC  RBC  Hemoglobin  Hematocrit  Platelets
2021-01-01  5.0  4.5        14.0        42.0      150.0
2021-02-01  5.1  4.6        14.1        42.1      151.0
2021-03-01  5.2  4.7        14.2        42.2      152.0
2021-04-01  5.3  4.8        14.3        42.3      153.0
2021-05-01  5.4  4.9        14.4        42.4      154.0
Lab test already in the list of lab tests
Lipid Panel, Urinanalysis, CBC, CMP, Thyroid Panel
Test Name: Urinanalysis
Test Type: Blood Test

             Color Appearance   Glucose   Protein   Ketones
2021-01-01  Yellow      Clear  Negative  Negative  Negative
2021-02-01  Yellow      Clear  Negative  Negative  Negative
2021-03-01  Yellow      Clear  Negative  Negative  Negative
2021-04-01  Yellow      Clear  Negative  Negative  Negative
2021-05-01  Yellow      Clear  Negative  Negative  Negative
Lab test already in the list of lab tests
Lipid Panel, Urinanalysis, CBC, CMP, Thyroid Panel
Test Name: Lipid Panel
Test Type: Blood Test

            Total Cholesterol  Triglycerides  HDL  LDL
2021-01-01                200            150   50  100
2021-02-01                201            151   51  101
2021-03-01                202            152   52  102
2021-04-01                203            153   53  103
2021-05-01                204            154   54  104
Lab test already in the list of lab tests
Lipid Panel, Urinanalysis, CBC, CMP, Thyroid Panel
Test Name: Thyroid Panel
Test Type: Blood Test

            TSH   T3   T4
2021-01-01  1.0  2.0  3.0
2021-02-01  1.1  2.1  3.1
2021-03-01  1.2  2.2  3.2
2021-04-01  1.3  2.3  3.3
2021-05-01  1.4  2.4  3.4