# Basic Python

In [1]:
from typing import Optional, List, Tuple, Union, Any, Callable, Set, Dict

## Data Structures

What is the following code going to print in each case? (uncomment the code to see it with helpful colors, but don't run it so you dont see the answer)

In [2]:
answer = None

In [3]:
# if answer:
#     print('Got it')
# else:
#     print('Havent got it')

In [4]:
# num = 0
# if num:
#     print('Got it')
# else:
#     print('havent got it ')

### Answers:
1. The above code is going too print 'Havn't got it', since 'None' is handled by python as False.
2. The above code is going too print 'Havn't got it', since '0' is handled by python as False.

## Functions

1. What is the value of res?
2. What does the sum_ function return?
3. Are the two answers in 1 and 2 necessarily the same?

In [5]:
def sum_(a,b):
    ans = a+b
    return ans

In [6]:
res = sum_(1,2)
res

3

### Answers:
1. The value of res is 3.
2. The sum function returns a sum of the values or the its arguments 'a' and 'b'.
3. The two answers in 1 and 2 aren't necessarily the same, because we can assign different values to 'a' and 'b' and the value of res will change accordingly.

## Loops

Write a function that calculates a factorial using a loop. 
For example, the function will receive the number 4 and return 24 (4*3*2*1).

In [7]:
def calculate_factorial(factorial):
    base = 1
    product = 1
    try:
        while base < factorial:
            product *= (base + 1)
            base += 1
        else:
            return product
    except Exception as e:
        print('Invalid input!')

In [8]:
calculate_factorial(5)

120

## Importing Code

Why do we sometimes see people writing:
if __name__ == "__main__"
In what case would that be useful?

### Answer:
People sometime use the if __name__ == '__main__' block so that the code will execute only when the python file is run as a script. This is useful when you want to allow for the python file to be run as a script (a whole program)  and to also allow it to be imported as a module. For example, if you write a program to solve some problem that uses various function and classes, you might want to reuse these functions and modules again for a different program / problem.

## Handling Files

When reading a file we might want to use the with keyword, e.g:

In [9]:
# with open(file_path, 'r') as f:
#     print(f.readlines())

Why use with? how does it help?

### Answer:

# OOP

## OOP 3 Principles

### Encapsulation

Write a class that uses encapsulation. Use a protected variable and a method that uses that protected variable. The method can either change the variable (after some validation) or just return it

### Inheritance

Write a class that inherits from another

In [10]:
class MedicalProcedure:
    def __init__(self, procedure_name: str, system: str, organ: str, outcome: Optional[str] = None):
        self.procedure_name = procedure_name
        self.system = system
        self.organ = organ
        self.outcome = outcome
    
    def __str__(self):
        return f"Name: {self.procedure_name}\nSystem: {self.system}\nOrgan: {self.organ}\nOutcome: {self.outcome}"

class Imaging(MedicalProcedure):
    def __init__(self, procedure_name: str, system: str, organ: str, imaging_type: str, facility: Optional[str] = None, outcome: Optional[str] = None):
        super().__init__(procedure_name, system, organ, outcome)
        
        self.imaging_type = imaging_type
        self.facility = facility
    
    def print_imaging_type(self):
        print(f'Imaging type: {self.imaging_type}')
    
    def print_facility(self):
        print(f'Facility: {self.facility}')

In [11]:
spinal_surgery = MedicalProcedure(procedure_name='spinal surgery', system='nervous, skeletal', organ='spine', outcome='successful')
print(spinal_surgery)

Name: spinal surgery
System: nervous, skeletal
Organ: spine
Outcome: successful

In [12]:
echocardiogram = Imaging(procedure_name='Doppler Echocardiogram', system='Cardiovascular', organ='Heart', imaging_type='Echocardiography', facility='Heart Clinic')
print(echocardiogram)
echocardiogram.print_imaging_type()
echocardiogram.print_facility()

Name: Doppler Echocardiogram
System: Cardiovascular
Organ: Heart
Outcome: None
Imaging type: Echocardiography
Facility: Heart Clinic

### Polymorphism

Take one of the methods you implemented in the base class. Rewrite it in the subclass class.

In [13]:
class Imaging(MedicalProcedure):
    def __init__(self, procedure_name: str, system: str, organ: str, imaging_type: str, facility: Optional[str] = None, outcome: Optional[str] = None):
        super().__init__(procedure_name, system, organ, outcome)
        
        self.imaging_type = imaging_type
        self.facility = facility
    
    def __str__(self):
        return f"Name: {self.procedure_name}\nSystem: {self.system}\nOrgan: {self.organ}\nOutcome: {self.outcome}\nImaging type: {self.imaging_type}\nFacility: {self.facility}"

In [14]:
echocardiogram = Imaging(procedure_name='Doppler Echocardiogram', system='Cardiovascular', organ='Heart', imaging_type='Echocardiography', facility='Heart Clinic')
print(echocardiogram)

Name: Doppler Echocardiogram
System: Cardiovascular
Organ: Heart
Outcome: None
Imaging type: Echocardiography
Facility: Heart Clinic

## Class vs Instance Methods

Write a class with 2 methods. One that only affects an instance, and one that affects the entire class.

In [21]:
import pandas as pd
import numpy as np

class Result:
    @staticmethod
    def get_results(result_type: str, results_df: pd.DataFrame):
        return Result(result_type, results_df)
    
        # Raise an exception if results_df is not a DataFrame
        if not isinstance(results_df, pd.DataFrame):
            raise ValueError('results_df should be a DataFrame')
        
        # Raise an exception if the DataFrame is empty
        if results_df.empty:
            raise ValueError('results_df should not be empty')
        
    
    def __init__(self, result_type: str, results_df: pd.DataFrame):
        self.result_type = result_type
        self.results_df = results_df
    
    def show_results(self, all_results: bool = False, n_results: Optional[int] = None):
        try:
            if all_results:
                return self.results_df
            elif n_results:
                return self.results_df.head(n_results)
            else:
                return self.results_df.head()
        except Exception:
            print('Invalid input')
            
class LabTest:
    lab_tests = set()
    
    def __init__(self, test_name: str, test_type: str, results: Result):
        self.test_name = test_name
        self.test_type = test_type
        self.results = results

    def __str__(self):
        return f"Test Name: {self.test_name}\nTest Type: {self.test_type}\n"
    
    @staticmethod
    def get_test_results(result_type: str, results_df: pd.DataFrame):
        results = Result(result_type=self.test_name, results_df=results_df)

    @classmethod
    def add_lab_test(cls, test_name: str):
        if test_name not in cls.lab_tests:
            cls.lab_tests.add(test_name)
            print(f'{test_name} added to the list of lab tests')
        else:
            print(f'{test_name} already exists in the list of lab tests')

In [22]:
# Create a dictionary that contains dictionaries with results of CMP lab tests that were done on 10 different dates
cmp_results = {
    '2021-01-01': {'Glucose': 90, 'BUN': 10, 'Creatinine': 0.8, 'Sodium': 140, 'Potassium': 4.0},
    '2021-02-01': {'Glucose': 95, 'BUN': 11, 'Creatinine': 0.9, 'Sodium': 141, 'Potassium': 4.1},
    '2021-03-01': {'Glucose': 100, 'BUN': 12, 'Creatinine': 1.0, 'Sodium': 142, 'Potassium': 4.2},
    '2021-04-01': {'Glucose': 105, 'BUN': 13, 'Creatinine': 1.1, 'Sodium': 143, 'Potassium': 4.3},
    '2021-05-01': {'Glucose': 110, 'BUN': 14, 'Creatinine': 1.2, 'Sodium': 144, 'Potassium': 4.4},
    '2021-06-01': {'Glucose': 115, 'BUN': 15, 'Creatinine': 1.3, 'Sodium': 145, 'Potassium': 4.5},
    '2021-07-01': {'Glucose': 120, 'BUN': 16, 'Creatinine': 1.4, 'Sodium': 146, 'Potassium': 4.6},
    '2021-08-01': {'Glucose': 125, 'BUN': 17, 'Creatinine': 1.5, 'Sodium': 147, 'Potassium': 4.7},
    '2021-09-01': {'Glucose': 130, 'BUN': 18, 'Creatinine': 1.6, 'Sodium': 148, 'Potassium': 4.8},
    '2021-10-01': {'Glucose': 135, 'BUN': 19, 'Creatinine': 1.7, 'Sodium': 149, 'Potassium': 4.9}
} 

# Convert the dictionary to a DataFrame with the keys as the index
cmp_results_df = pd.DataFrame(cmp_results).T

# Create an instance of the Result class
cmp_results = Result.get_results('CMP', cmp_results_df)

# Show the results
cmp_results.show_results(all_results=True)

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3
2021-05-01    110.0  14.0         1.2   144.0        4.4
2021-06-01    115.0  15.0         1.3   145.0        4.5
2021-07-01    120.0  16.0         1.4   146.0        4.6
2021-08-01    125.0  17.0         1.5   147.0        4.7
2021-09-01    130.0  18.0         1.6   148.0        4.8
2021-10-01    135.0  19.0         1.7   149.0        4.9

In [18]:
# Show only 4 lines of the results
cmp_results.show_results(n_results=4)

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3

In [19]:
# Show the results without specifying how many lines
cmp_results.show_results()

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3
2021-05-01    110.0  14.0         1.2   144.0        4.4

In [17]:
# Create an instance of the LabTest class
cmp_test = LabTest(test_name='CMP', test_type='Blood Test', results=cmp_results)

# Show the lab test
print(cmp_test)

# Add the lab test to the list of lab tests
LabTest.add_lab_test('CMP')

# Show the results of the lab test
cmp_test.results.show_results(all_results=True)

Test Name: CMP
Test Type: Blood Test

CMP added to the list of lab tests

            Glucose   BUN  Creatinine  Sodium  Potassium
2021-01-01     90.0  10.0         0.8   140.0        4.0
2021-02-01     95.0  11.0         0.9   141.0        4.1
2021-03-01    100.0  12.0         1.0   142.0        4.2
2021-04-01    105.0  13.0         1.1   143.0        4.3
2021-05-01    110.0  14.0         1.2   144.0        4.4
2021-06-01    115.0  15.0         1.3   145.0        4.5
2021-07-01    120.0  16.0         1.4   146.0        4.6
2021-08-01    125.0  17.0         1.5   147.0        4.7
2021-09-01    130.0  18.0         1.6   148.0        4.8
2021-10-01    135.0  19.0         1.7   149.0        4.9