# Exercise 1

Define a Car class with the following attributes:

make (str): The make of the car.
model (str): The model of the car.
year (int): The year the car was manufactured.
mileage (float): The mileage of the car.
color optional string, defaults to None

In [1]:
from typing import Optional, List, Tuple, Union, Any, Callable, Set, Dict

In [2]:
class Car:
    def __init__ (self, make: str, model: str, year: int, mileage: float, color: Optional[str] = None):
        self.make = make
        self.model = model
        self.year = year
        self.mileage = mileage
        self.color = color
    
    def __str__(self) -> str:
        return f"{self.year} {self.make} {self.model} with {self.mileage} miles"
    
    __repr__ = __str__

# Exercise 2

Define a function called drive_car that takes a Car object as input and returns a str indicating its make and model

In [3]:
def drive_car(car: Car) -> str:
    car_make = car.make
    car_model = car.model
    
    return f'make: {car_make}, model: {car_model}'

In [4]:
my_car = Car('Toyota', 'Corolla', 2015, 100000, 'red')

print(drive_car(my_car))

make: Toyota, model: Corolla

# Exercise 3

Define a function called find_most_mileage_car that takes a list of Car objects as input and returns the Car object with the highest mileage.

In [5]:
def find_most_mileage_car(car_list: List[Car]) -> Car:
    most_mileage_car = car_list[0]
    
    for car in car_list:
        if car.mileage > most_mileage_car.mileage:
            most_mileage_car = car
        else:
            continue
    
    return most_mileage_car

In [6]:
# Generate a list of cars
car1 = Car('Toyota', 'Corolla', 2015, 100000, 'red')
car2 = Car('Toyota', 'Camry', 2015, 200000, 'blue')
car3 = Car('Toyota', 'Prius', 2015, 300000, 'green')
car4 = Car('Toyota', 'Supra', 2015, 400000, 'yellow')
car5 = Car('Toyota', 'Tacoma', 2015, 500000, 'black')

car_list = [car1, car2, car3, car4, car5]

print(find_most_mileage_car(car_list))

2015 Toyota Tacoma with 500000 miles

# Exercise 4

Define a function called group_cars_by_make that takes a list of Car objects as input and returns a dictionary where the keys are the makes of the cars (string) and the values are lists of Car objects of that make.

In [11]:
def group_cars_by_make(car_list: List[Car]) -> Dict[str, List[Car]]:
    grouped_cars = {}
    
    for car in car_list:
        if car.make not in grouped_cars:
            grouped_cars[car.make] = [car]
        else:
            grouped_cars[car.make].append(car)
    
    return grouped_cars

In [12]:
# Generate a list of cars with different makes
car1 = Car('Toyota', 'Corolla', 2015, 100000, 'red')
car2 = Car('Toyota', 'Camry', 2015, 200000, 'blue')
car3 = Car('Toyota', 'Prius', 2015, 300000, 'green')
car4 = Car('Toyota', 'Supra', 2015, 400000, 'yellow')
car5 = Car('Toyota', 'Tacoma', 2015, 500000, 'black')
car6 = Car('Ford', 'Fusion', 2015, 600000, 'white')
car7 = Car('Ford', 'Fiesta', 2015, 700000, 'gray')
car8 = Car('Ford', 'Focus', 2015, 800000, 'silver')
car9 = Car('Ford', 'Escape', 2015, 900000, 'brown')
car10 = Car('Ford', 'Explorer', 2015, 1000000, 'orange')

car_list_2 = [car1, car2, car3, car4, car5, car6, car7, car8, car9, car10]

print(group_cars_by_make(car_list_2))

{'Toyota': [2015 Toyota Corolla with 100000 miles, 2015 Toyota Camry with 200000 miles, 2015 Toyota Prius with 300000 miles, 2015 Toyota Supra with 400000 miles, 2015 Toyota Tacoma with 500000 miles], 'Ford': [2015 Ford Fusion with 600000 miles, 2015 Ford Fiesta with 700000 miles, 2015 Ford Focus with 800000 miles, 2015 Ford Escape with 900000 miles, 2015 Ford Explorer with 1000000 miles]}

# Intermediate difficulty

# Exercise 1

List Manipulation:
Define a function called double_even that takes a list of integers as input and returns a new list where each even number is doubled. Use type hints to specify the input and output types.

In [13]:
def double_even(number_list: List[int]) -> List[int]:
    doubled_list = []
    
    for number in number_list:
        if number % 2 == 0:
            doubled_list.append(number * 2)
        else:
            doubled_list.append(number)
    
    return doubled_list

In [14]:
my_int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(double_even(my_int_list))

[1, 4, 3, 8, 5, 12, 7, 16, 9, 20]

# Exercise 2

String Formatting:
Define a function called format_name that takes two strings as input, representing a first name and a last name, and returns a formatted full name string. Use type hints to specify the input and output types.

In [15]:
def format_name(first_name: str, last_name: str) -> str:
    return f"{first_name} {last_name}"

In [17]:
print(format_name('John', 'Smith'))

John Smith

# Exercise 3

Define a function called invert_dict that takes a dictionary as input and returns a new dictionary where the keys and values are inverted. Use type hints to specify the input and output types.

In [23]:
def invert_dict(input_dict: Dict[Any, Any]) -> Dict[Any, Any]:
    inverted_dict = {}
    
    for key, value in input_dict.items():
        if value not in inverted_dict:
            inverted_dict[value] = key
        elif isinstance(inverted_dict[value], list):
                inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [inverted_dict[value], key]
    
    return inverted_dict

In [24]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 2, 'e': 1, 'f': 3}

print(invert_dict(my_dict))

{1: ['a', 'e'], 2: ['b', 'd'], 3: ['c', 'f']}

In [25]:
my_dict_2 = {1: 'a', 2: 'b', 3: 'c', 4: 'b', 5: 'a', 6: 'c'}

print(invert_dict(my_dict_2))

{'a': [1, 5], 'b': [2, 4], 'c': [3, 6]}